---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
<style>
body{
font-family: 'Kalam', sans-serif;
}
</style>
</head>
<body>
    
    <!-- Header -->
    <div id="particles-js"></div>
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                  <!--  <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a> -->
                   <!-- <h3 class="title">
                        <a href="{{ site.url }}">-->
                        	<div style="font-size:4rem;font-weight:300">ऋ</div>
			           <!-- </a>
                    </h3>-->
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1.5rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                     {% include social-links.html %}
                  <hr class="hr-line">
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
